.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(94, 120, 255, 0.73);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

/* Modal content */
.ReactModal__Content {
  display: flex;
  width: 100%;
  max-width: 740px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  background-color: white;
  z-index: 1000;
}

.modal-content {
  width: 100%;
  padding: 20px 20px 72px 20px;
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* Close button */
.close-btn {
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Other modal content styles */
h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}
