.styles-module_dark__xNqje {
  font-size: 10px !important;
  margin-top: 13px;
  margin-left: 32%;
  padding: 4px 8px !important;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  fill: #fff;
  stroke-width: 1px;
  stroke: #eaeaea !important;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1)) !important;
  color: #000 !important;
  background-color: #fff !important;
}
